In [1]:
"""
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple
"""

#Answer 1
var="abc"
var2=['a',2,True,9+5j]
var3=2.5
var4=('awe',5,True)
print(var,var2,var3,var4, sep='\n')

abc
['a', 2, True, (9+5j)]
2.5
('awe', 5, True)

In [ ]:
"""
Q2. Given are some following variables containing data:
(i) var1 = ' '
(ii) var2 = '[ DS , ML , Python]'
(iii) var3 = [ 'DS' , 'ML' , 'Python' ]
(iv) var4 = 1.
What will be the data type of the above given variable.
"""

#Answer 2
"""
1. string
2. string
3. list
4. float
"""

In [ ]:
"""
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
"""

#Answer3
"""
1. / operator is used for division purpose. For example 5/2 gives 2.5 as output.
2. % is used to get remainder value when 2 numbers are divided. For example 5%2 gives 1 as output.
3. // is used to give quoptient when 2 numbers are divided. For example 5//2 gives 2 as output
4. ** is used to set power value. For example 2**3 gives 8 as output
"""

In [2]:
"""
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
"""

#Answer 4
l=["hello", 2, True, 5+3j, 'a', 3.4, 5.7, 9, [1,2,3], 2]
for i in range(0,len(l)):
    print(l[i], ':',  type(l[i]))

hello : <class 'str'>
2 : <class 'int'>
True : <class 'bool'>
(5+3j) : <class 'complex'>
a : <class 'str'>
3.4 : <class 'float'>
5.7 : <class 'float'>
9 : <class 'int'>
[1, 2, 3] : <class 'list'>
2 : <class 'int'>

In [1]:
"""
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
"""

#Answer5
A=int(input())
B=int(input())
while(A%B==0):
    output=A/B
    print(A, "is divisible by", B, ",", int(output), "times") 
    break
else:
    print(A, "is not divisible by", B)

 10
 2

10 is divisible by 2 , 5 times

In [7]:
"""
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
"""

#Answer 6
import random
l=[]
for i in range(25):
    l.append((random.randint(1,1000)))
for y in range(25):
    if(l[y]%3==0):
        print(l[y], " is divisble by 3")
    else:
        print(l[y], " is not divisble by 3")

927  is divisble by 3
572  is not divisble by 3
478  is not divisble by 3
553  is not divisble by 3
409  is not divisble by 3
113  is not divisble by 3
253  is not divisble by 3
713  is not divisble by 3
714  is divisble by 3
89  is not divisble by 3
53  is not divisble by 3
337  is not divisble by 3
423  is divisble by 3
443  is not divisble by 3
906  is divisble by 3
214  is not divisble by 3
373  is not divisble by 3
269  is not divisble by 3
145  is not divisble by 3
911  is not divisble by 3
709  is not divisble by 3
16  is not divisble by 3
396  is divisble by 3
634  is not divisble by 3
220  is not divisble by 3

In [ ]:
"""
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
"""

#Answer7

"""
Mutable data types are one which can be modified once it 
is created. Example lists and if we run below code it will 
execute fine which shows property of mutability
"""
l=[2,"abc",3.5]
l[1]="zxc"
print(l)

"""
Immutable datatypes are one which cannotbe modified once it
is created. Example String and if we run below code it will
throw error which shows the property that string is 
immutable
"""

a="awer"
a[2]='2'
print(a)