Q1. What is a database? Differentiate between SQL and NoSQL databases.

A1. A database is a collection of data that is stored in a way which allows efficient retrieval, management, and manipulation of data. It serves as a repository for storing and organizing large volumes of information, making it accessible and usable for various purposes.

1) SQL databases are relational databases that store data in structured tables with predefined schemas, making them ideal for structured data with well-defined relationships. (structural database)

2) They require a fixed schema, where data structure must be defined before insertion.

3) SQL databases use the SQL query language for data management and are typically scaled vertically by adding resources to a single server.

1) NoSQL databases are designed to handle unstructured, semi-structured, or structured data. (unstructured database)

2) They allowing changes without predefined schemas, often have flexible or dynamic schemas, . 

3) They use various query languages tailored to specific data models and are scaled horizontally by adding servers to a distributed cluster.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A2. DDL(Data Definition Language) is used to define and manage the structure of a database. DDL commands are used to create, modify, and delete database objects like tables, indexes, and constraints.

* CREATE: It is used to create a new database object such as a table, view, index, or schema. Example to create a new table named "employees" is shown below

Command - CREATE TABLE if not exists employees (employee_id INT, first_name VARCHAR(50))

* DROP: The DROP statement is used to delete existing database objects, such as tables or indexes. Example, to delete the "employees" table created earlier is shown below:

Command - DROP TABLE employees;

* ALTER: The ALTER statement is used to modify the structure of an existing database object. We use it to add, modify, or delete columns in a table, change data types, or add constraints. Example, to add a new column "email" to the "employees" table is shown below

Command -
ALTER TABLE employees
ADD email VARCHAR(100);


* TRUNCATE: The TRUNCATE statement is used to remove all rows from a table but it retains the table structure. Example of removing all records from the "employees" table is shown below

Command - TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A3. DML(Data Manipulation Language) is used to perform operations on the data within those database objects. It is used to create and modify database objects like tables, indexes, views, and constraints.

* INSERT: The INSERT statement is used to add new rows into a database table. We can insert data into specific columns or all columns in a table. Example to insert a new employee with the specified information into the "employees" table is shoqn below

Command - 
INSERT INTO employees (employee_id, first_name, last_name, hire_date)
VALUES (101, 'John', 'Doe', '2023-10-19');


* UPDATE: The UPDATE statement is used to modify existing records in a database table. We can update data based on a condition that identifies the rows to be changed. Example to increase the salary of all employees in the "HR" department by 10% is shown below.

Command - 
UPDATE employees
SET salary = salary * 1.10
WHERE department = 'HR';


* DELETE: The DELETE statement is used to remove specific records from a database table based on a condition. Example to delete all orders placed before 2020 from the "orders" table is shown below.

Command - 
DELETE FROM orders
WHERE order_date < '2020-01-01';

Q4. What is DQL? Explain SELECT with an example.

A4. DQL(Data Query Language) is used to  retrieve data from one or more tables in a database. It allows you to specify which columns you want to retrieve, filter the data based on conditions, and order the results

* SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify which columns you want to retrieve, filter the data based on conditions, and order the results. It's one of the most important and versatile SQL commands. Example:

Command - 
SELECT student_id, first_name, last_name, birth_date FROM students WHERE major = 'Computer Science';

Q5. Explain Primary Key and Foreign Key.

A5. Primary Key
It is unique identity for a table. It's a special column that ensures that each row within that table has a distinct identifier. This unique key is often a number or code that helps in easy referencing and organizing data, making it easier to locate specific records. It's the primary means of distinguishing one row from another within the table.

Foreign Key 
It serves as a link between two tables. t's used to connect data in one table to data in another. A foreign key establishes a relationship between tables, making sure that the data in one table matches with data in another, usually by referencing the primary key of the related table. 

Example:


Lets say we have two tables in a database, Students and Courses. The Students table contains information about students, and the Courses table contains information about courses offered by a school.

Primary Key Example:
In the Students table, we might have a column called student_id that is set as the primary key. Each student is assigned a unique student_id when they join the school. This primary key ensures that every student in the table has a distinct identifier.

Foreign Key Example:
In the Courses table, we might have a column called student_id as a foreign key. This student_id references the Students table, linking each course to a specific student. This connection ensures that the data in the Courses table relates to the students in the Students table.

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
# A6. 

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists library")
mydb.close()

''' 
The cursor() method is used to create a cursor object. After creating a cursor, we can use it to execute SQL 
statements in the database as shown in above code.

The execute() method is used to execute SQL  queries using the cursor object. We can pass the SQL query as a 
string to the execute() method and it sends the statement to the database for execution. Example is shown in 
above code.

'''

Q7. Give the order of execution of SQL clauses in an SQL query.

A7. Order of execution for SQL clauses in a query is as follows:

FROM: Specifies data sources.

JOIN: Combines data from multiple tables .

WHERE: Filters data based on conditions.

GROUP BY: Groups data as specified.

HAVING: Filters grouped data.

SELECT: Chooses columns to retrieve.

DISTINCT: Removes duplicates (if used).

ORDER BY: Sorts the result.

LIMIT/OFFSET: Limits the number of rows returned.